@import "tailwindcss";

@theme {
    --color-Purple-Dark: #5E60CE;
    --color-Purple: #8284FA;

    --color-Blue-Dark: #1E6F9F;
    --color-Blue: #4EA8DE;

    --color-Gray-700: #0D0D0D;
    --color-Gray-600: #1A1A1A;
    --color-Gray-500: #262626;
    --color-Gray-400: #333333;
    --color-Gray-300: #808080;
    --color-Gray-200: #D9D9D9;
    --color-Gray-100: #F2F2F2;

    --color-Danger: #E25858;

    --breakpoint-xs: 425px;
    --breakpoint-3xl: 2000px;

}


body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-Gray-600);
}

input {
    outline: transparent;
}

body,
input,
textarea,
button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}